[Unit]
Description=Play a sound on desktop notifications

[Service]
ExecStart=%h/.local/bin/notification-sound-listener
Restart=on-failure

[Install]
WantedBy=default.target
